.img-fluid#processing {
  height: 60vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
    background-image:url('../static/ankt_sngh_a_blue_bird_escaping_a_cage_made_up_of_wires_white_bg.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  margin-right: auto;
  margin-left: 5vw;
  max-width: 70vw;
}
